{
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 120,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}
